<% content_for(:page_title, 'Alternative planner') %>
<div class="page-header">
  <ol class="breadcrumb">
    <li><%= link_to 'Alternative planner', root_path %></li>
  </ol>

  <h1>Welsh booking requests</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="no-content t-notice">You need the <strong>Welsh</strong> or <strong>BSL</strong> permission.</p>
  </div>
</div>
