<p>Annwyl <%= @booking_request.first_name %>,

<p>Diolch am drefnu apwyntiad Pension Wise.</p>

<p>Rydym wedi derbyn eich cais am apwyntiad.</p>

<p>Rydych wedi gofyn am apwyntiad Wyneb yn wyneb neu dros y ffôn (yn dibynnu ar ba un).</p>

<p>Lleoliad dewisol yr apwyntiad (Wyneb yn wyneb yn unig).</p>

<h2>Beth sy'n digwydd nesaf?</h2>

<p>Byddwn yn rhoi galwad i chi o fewn 2 ddiwrnod gwaith i gadarnhau dyddiad ac amser eich apwyntiad.</p>

<p>Mae argaeledd apwyntiad yn dibynnu ar leoliad.</p>

<p>Rhowch eich adborth i ni <a href="https://research.pensionwise.gov.uk/s/bookingfeedback/">https://research.pensionwise.gov.uk/s/bookingfeedback</a>.</p>

<p>Mae Pension Wise yn casglu ac yn storio data personol er mwyn darparu cyngor ar bensiynau.</p>

<p>Bydd eich data yn cael ei rannu gyda'n partneriaid cyflenwi dim ond lle y bo’n angen rhoi cyngor ar Pension Wise i chi.</p>

<p>Gellir dod o hyd i fanylion llawn ein polisi preifatrwydd, gan gynnwys gwybodaeth am eich hawliau mewn perthynas â'r data sydd gennym, yn <a href="https://www.pensionwise.gov.uk/cy/privacy/">https://www.pensionwise.gov.uk/cy/privacy</a>.</p>

<h2>Paratoi ar gyfer eich apwyntiad</h2>

<p>Er mwyn gwneud y mwyaf o'ch apwyntiad, byddai'n ddefnyddiol pe baech yn gwybod:</p>

<ul>
  <li>gwerth eich pot(iau) pensiwn - edrychwch ar waith papur eich pensiwn neu gofynnwch i'ch darparwr</li>
  <li>amcangyfrif o'ch Pensiwn y Wladwriaeth - ffoniwch Ganolfan Bensiwn y Dyfodol ar 0800 731 0175 ar gyfer datganiad Pensiwn y Wladwriaeth</li>
  <li>os yw eich pot pensiwn yn cynnwys unrhyw nodweddion arbennig, e.e. cyfradd blwydd-dal gwarantedig neu werth pot gwarantedig ar adeg benodol - gofynnwch i'ch darparwr</li>
</ul>

<p>Meddyliwch am eich amgylchiadau ariannol yn gyffredinol a chynlluniau ar gyfer ymddeoliad, e.e:</p>

<ul>
  <li>ffynonellau incwm fel cyflog, budd-daliadau'r wladwriaeth, cynilion a buddsoddiadau</li>
  <li>dyledion ac ad-daliadau a allai fod gennych</li>
  <li>pan fyddwch am roi'r gorau i weithio</li>
  <li>os ydych eisiau incwm sefydlog neu hyblyg mewn ymddeoliad</li>
</ul>
